.label {
    display: inline-flex;
    align-items: center;
    border-radius: 28px;
    padding: 4px 14px;

    height: 28px;
    background: #fee2e2;
    gap: 8px;
    color: #B91C1C;

}

/* Tailwind CSS */